*{
    box-sizing: border-box;
   
    
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ceeeed;
    
    margin-right: 375px;
    margin-left: 375px;
    min-width: 370px;
    
}

@media screen and (max-width:1080px) {
    body{
        background-color: #f0d5b3;;
    }
@media (orientation: landscape) {
    body{
        width: 955px;
    }
    
}    
}

h2{
    text-decoration: underline;
}


textarea{
    width: 100%;
    padding: 12px;
}


select{
    width: 100%;
    padding: 5px;
}

p input{
    width: 100%;
    padding: 5px;
}

input[type="submit"]{
    width: 49.2%;
    padding: 5px;
    border: 2px solid #b59c7b;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

input[type="submit"]:hover{
    text-shadow: 1px 1px #ffffff;
    font-size: 20px;
    font-weight: bolder;
    background-color: #b59c7b;   
}

input[type="reset"]{  
    width: 49.2%;
    padding: 5px;
    border: 2px solid #b59c7b;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    float: right;
}

input[type="reset"]:hover{
    text-shadow: 1px 1px #ffffff;
    font-size: 20px;
    font-weight: bolder;
    background-color: #b59c7b;   
}

hr{
  border: dotted 6px #b59c7b;
  border-bottom: none;
  width: 29%;
  margin:  auto;
}

.full{
    background-color:antiquewhite;
    border: 2px solid #b59c7b;
    border-radius: 10px;
    padding: 10px;
}

.main_h{
    text-align: center;
}